<div class="container" 
	ng-init="getAgreementTemplate(); getNewVendorList();">
	<div class="panel-heading" style="padding: 0px;" >
		<ul class="nav nav-tabs" id="agreementNav"
			style="padding-top: 10px; text-align: center;">
			<li class="active" style="width: 50%"><a
				data-target="#vendorAgreementTemplate" href=""
				style="color: white; background: darkSlateGray; padding: 2px;"
				data-toggle="tab">Agreement Template</a></li>
			<li style="width: 50%"><a data-target="#newVendor" href=""
				style="color: white; background: darkSlateGray; padding: 2px;"
				data-toggle="tab">Vendor Agreement</a></li>

		</ul>
	</div>

	<div class="panel-body" style="padding: 0px;">
		<div class="tab-content" style="text-align: left; font-size: 13px;">
			<div class="tab-pane fade in active" id="vendorAgreementTemplate">
				<div style="min-height: 90%; max-height: auto;">
					<form name="form" novalidate>
						<textarea data-ui-tinymce id="tinymce1"
							style="min-height: 300px; max-height: auto; border: 2px;"
							data-ng-model="from_one.from_one"></textarea>
					</form>
					<div style="text-align: right; padding: 1%;">
						<a href="" ng-click="viewAgreement()" target="_blank">View in
							PDF</a>
					</div>
					<div style="text-align: center; padding: 1%;">
						<button class="btn btn-sm btn-primary"
							ng-click="saveAgreementTemplate()">Save Template</button>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="newVendor"
				style="border: 1px solid lightgray; min-height: 300px; max-height: auto;">
				<div class=""
					ng-if="newVendorList != '' && editAgreementFlag == 0 && viewAgreementFlag == 0"
					style="background-color: #f5f5f5; min-height: 300px; max-height: auto; font-family: Helvetica, Arial, serif, Lato; background-image: url('images/white.png')"
					ng-init="editAgreementFlag = 0;">
					<table id="cart" class="table table-hover table-condensed">
						<thead style="background-color: #f1f1f1">
							<tr>
								<th style="width: 20%">Vendor Name</th>
								<th style="width: 20%">Signup Date</th>
								<th style="width: 15%">Location</th>
								<th style="width: 15%">Provider</th>
								<th style="width: 15%">Status</th>
								<th style="width: 15%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="element in newVendorList | pagination: curPage * contractPageSize | limitTo: 10"
								style="line-height: 200px;">
								<td data-th="name">{{element.vendorEmail}}</td>
								<td data-th="signupdate">{{element.dateCreated |
									dateformat}}</td>
								<td data-th="location"><label>{{element.vendorLocation}}</label></td>
								<td data-th="provider"><label>{{element.vendorType}}</label></td>
								<td data-th="status"><label>{{element.agreementStatus}}</label></td>
								
								<td data-th="action" ng-if="element.agreementStatus != 'Accept'"><button
										class="btn btn-xs btn-primary"
										ng-click="editAgreement(element)">Edit Agreement</button></td>
								<td data-th="action" ng-if="element.agreementStatus == 'Accept'"><button
										class="btn btn-xs btn-primary"
										ng-click="viewAgreement(element)">View Agreement</button></td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="1" class="hidden-xs"></td>


							</tr>
						</tfoot>
					</table>
					<div class="row pull-center">
						<div class="pagination-div" ng-show="newVendorList.length"
							style="">
							<ul style="list-style: none;">
								<li class="col-md-8"></li>
								<li class="col-md-1">
									<button type="button" ng-disabled="curPage == 0"
										class="btn btn-xs btn-warning" style="font-size: 12px;"
										ng-click="curPage=curPage-1">PREV</button>
								</li>
								<li class="col-md-2"><span>Page {{curPage + 1}} of
										{{ contractNumberOfPages(newVendorList)}}</span></li>
								<li class="col-md-1">
									<button type="button"
										ng-disabled="curPage >= newVendorList.length/contractPageSize - 1"
										class="btn btn-xs btn-warning" style="font-size: 12px;"
										ng-click="curPage = curPage+1">NEXT</button>
								</li>
								<li><br /></li>
							</ul>
						</div>
					</div>
				</div>
				<div ng-if="newVendorList == ''"
					style="background-color: #f5f5f5; min-height: 300px; max-height: auto; font-family: Helvetica, Arial, serif, Lato; background-image: url('images/white.png')">
					<h4>No Records</h4>
				</div>
				<div style="min-height: 90%; max-height: auto;"
					ng-if="editAgreementFlag == 1">
					<form name="form" novalidate>
						<div style="color: purple; text-align: center;">
							<label>You are updating the vendor agreement for
								{{vendorEmail}}</label>
						</div>
						<textarea data-ui-tinymce id="tinymce1"
							style="min-height: 300px; max-height: auto; border: 2px;"
							data-ng-model="vendor_Agreement"></textarea>
					</form>
					<div style="text-align: center; padding: 1%;">
						<button class="btn btn-sm btn-primary"
							ng-click="backToAgreeement()">Back to VendorAgreement</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-sm btn-primary"
							ng-click="sendAgreementToVendor(vendor_Agreement)">Send
							Agreement</button>
					</div>
				</div>
				<div ng-if="viewAgreementFlag == 1">
					<div style="color: purple; text-align: center;">
						<label>You are viewing the vendor agreement for
							{{vendorEmail}}</label>
					</div>
					<div class="row"
						style="padding-left: 20px; padding-right: 20px; height: 100%; font-family: Helvetica, Arial, serif, Lato;">
						<span ng-bind-html="vendorAgreementText"></span>
						<div>
							<label>Agreement Accepted On :</label>
							{{agreementAcceptanceResponse.agreementDate | dateformat}}
						</div>
						<div>
							<label>Agreement Accepted By :</label>
							{{agreementAcceptanceResponse.agreementDate !=
							null?agreementAcceptanceResponse.vendorEmail: ''}}
						</div>
					</div>
					<div style="text-align: center; padding: 1%;">
						<button class="btn btn-sm btn-primary"
							ng-click="backToAgreeement()">Back to VendorAgreement</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div style="margin-bottom: 0px; bottom: 0px;"
	ng-include="'views/footer.html'"></div>