<div class="row" ng-if="orderList != ''"
	style="padding-left: 20px; padding-right: 20px; padding-top: 20px; min-height: 100%; max-height: auto; font-family: Helvetica, Arial, serif, Lato; background-color: #FBFCFC">
	<div style="color: purple; text-align: center;">
		<label>Your Orders that are in progress</label>
	</div>
	<table id="cart" class="table table-hover table-condensed"
		style="border: 1px solid lightgray;">
		<thead style="background-color: #f5f5f5;">
			<tr>
				<th style="width: 25%">Product</th>
				<th style="width: 15%">Quantity</th>
				<th style="width: 15%">Price</th>
				<th style="width: 15%">Status</th>
				<th style="width: 15%">Delivery Date</th>
				<th style="width: 15%">Action</th>
			</tr>
		</thead>
		<tbody
			ng-repeat="elements in orderList | pagination: curPage * pageSize | limitTo: 4">
			<tr>
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-4 hidden-xs">
							<img ng-src="images/{{elements.product.productImage}}"
								width="100%" height="100%" alt="..."
								class="img-responsive img-rounded" />
						</div>
						<div class="col-sm-8">
							<h4 class="nomargin">{{elements.consumerPriceID}}</h4>
							<p>{{elements.product.productDescription}}</p>
						</div>
					</div>
				</td>

				<td data-th="Quantity"><input type="text"
					ng-model="elements.productQuantity" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false">{{elements.productQuantity}}</span></td>
				<td data-th="Price"><input type="text"
					ng-model="elements.userPrice" class="form-control"
					ng-if="editPrice == true"> <span ng-if="editPrice == false"><i
						class=" fa fa-inr"> </i> {{elements.userPrice}}</span></td>
				<td data-th="Status">{{elements.status}}</td>
				<td data-th="Status">{{elements.status}}</td>
				<td data-th="Status"><button class="btn btn-xs btn-primary">Track
						your Order</button></td>
				<td data-th="track"></td>
			</tr>
		</tbody>
	</table>
	<div class="row pull-center">
		<div class="pagination-div" ng-show="orderList.length"
			style="background-color: #f1f1f1; padding-left: 10px;">
			<ul style="list-style: none;">
				<li class="col-md-8"></li>
				<li class="col-md-1">
					<button type="button" ng-disabled="curPage == 0"
						class="btn btn-xs btn-warning" style="font-size: 12px;"
						ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li class="col-md-1"><span>Page {{curPage + 1}} of {{
						numberOfPages(orderList)}}</span></li>
				<li class="col-md-1">
					<button type="button"
						ng-disabled="curPage >= orderList.length/pageSize - 1"
						class="btn btn-xs btn-warning" style="font-size: 12px;"
						ng-click="curPage = curPage+1">NEXT</button>
				</li>
			</ul>
		</div>
	</div>
	<br />
	<div style="padding-left: 40%" class="row">
		<a href="#anyHome" data-toggle="tab" id="homeMenu" prevent-default=""
			scroll-to="anyHome" ng-click="home()" class="btn btn-md btn-warning"><i
			class="fa fa-angle-left"></i> Continue Shopping</a>
		<!-- &nbsp;&nbsp;&nbsp; <a
			href="" ng-click="confirmQuote(); " class="btn btn-md btn-primary">Continue
			Quote <i class="fa fa-angle-right"></i> -->
		</a>
	</div>
</div>
<div ng-if="orderList == ''"
	style="padding-left: 20px; padding-right: 20px; height: 100%; font-family: Helvetica, Arial, serif, Lato; background-image: url('images/pay1.png')">
	<br /> <br />
	<h4>There are no items.Please continue shopping.</h4>
</div>
<br />
<br />
<div style="margin-bottom: 0px; bottom: 0px;"
	ng-include="'views/footer.html'"></div>