<div
	style="background-color: lightGoldenrodYellow; height: 600px; padding-top: 50px;">

	<div style="width: 100%; padding-left: 5px; padding-right: 10px;">
		<div style="text-align: center;">
			<h3>What do you like to design?</h3>
		</div>
		<br>
		<div class="row" style="text-align: center; margin: 0px; max-height: 100%; ">
			<div class="col-md-3">
				<h5>Individual Home</h5>
				<a href="" ng-click="designDimension('home')"><img
					src="images/IndividualHouse.png" width="100%" 
					class="img img-rounded"></a>
			</div>
			<div class="col-md-3">
				<h5>Office</h5>
				<a href="" ng-click="designDimension('office')"><img src="images/Office.jpg" width="100%"
					height="100%" class="img img-rounded"></a>
			</div>
			<div class="col-md-3">
				<h5>Villa</h5>
				<a href="" ng-click="designDimension('villa')"><img src="images/Villa.jpg" width="100%"
					height="100%" class="img img-rounded"></a>
			</div>
			<div class="col-md-3">
				<h5>Showroom</h5>
				<a href="" ng-click="designDimension('showroom')"><img src="images/Showroom.jpg" width="100%"
					height="100%" class="img img-rounded"></a>
			</div>
		</div>
	</div>

</div>

