<div
	style="background-image: url(images/PageBackground.jpg); height: 600px; padding-top: 50px;">

	<div style="width: 80%; padding-left: 20%; padding-top: 10%">
		<div style="text-align: center;">
			<h1>What do you like to do?</h1>
		</div>
		<br>
		<div class="row" style="text-align: center;">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<button class="btn btn-lg btn-custom-red">My Projects</button>
			</div>
			<div class="col-md-4">
				<button class="btn btn-lg btn-custom-red" ng-click="consumerHomeDesign()">Design Home</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

</div>

